body {
  background-color: antiquewhite;
}
.card {
  /* border: 1px solid rgb(69, 69, 69); */
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  background-color: rgb(252, 248, 241);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

#suggestions {
  /* margin-top: 10px; */
  background-color: white;
  border: 1px solid #ccc;
  max-width: 169px;
}

#suggestions div {
  padding: 8px;
  cursor: pointer;
}

#historyContainer {
  margin: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
}

.outer-div {
  /* display: flex; */
  justify-content: center;
  border: 2px solid black;
  margin:50px;
  background-color: whitesmoke;
  width: 60%;
}